.main{
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  cursor: pointer;
}
.top{
    background: url("img2.jpg");
    background-size: cover;
}
.left {  
  width: 200px;
  margin-left: 80px; 
  background-size:cover;
  align-items: center;
  justify-content: center;
}
.left img {
  width: 80%;
}
.right {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items: center;
justify-content: center;
margin-left: 450px;
}
.right h2 {
  margin-bottom: 25px;
}
.right input {
  padding: 12px;
  margin-bottom: 15px;
  font-size: 16px;
  border: none;
  background-color:wheat;
  width: 300px;
  border-radius:20px;
}
.login {
  padding: 12px;
  background: #84cc16;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px  #84cc16 ;
  cursor: pointer;

}
.or{
  text-align: center;
  margin: 20px 0;
}
.down{
  display: flex;
  gap: 20px;
  padding: 10px;
  
}
.google{
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  border:2px solid #84cc16;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
}
.forgot{
  align-self: flex-end;
  margin-bottom: 10px;
  color:#84cc16;
}
.face{
    padding: 10px;
  width: 150px;
  border-radius: 20px;
  border:2px solid #84cc16;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
}
.reg{
  margin-top: 10px;
}
.reg b{
  color:#84cc16;
}
.reg b:hover{
  color:white;
  cursor: pointer;
}
.face i{
  color:black;
}
.google i{
  color:black;
}