.cart-container {
  padding: 30px;
  min-height: 60vh;
}

.cart-container h2 {
  margin-bottom: 20px;
}
.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th {
  background: #f5f5f5;
  padding: 12px;
  text-align: center;
  font-weight: 600;
}

.cart-table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}
.cart-table img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
}
.cart-table td:nth-child(4) {
   justify-content: center;
  align-items: center;
  gap: 12px;
}
.qty-value{
  padding: 10px 0px;
  margin-top: 20px;
}

.cart-table button {
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  background: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
}

.cart-table button:hover {
  background: #ff6f00;
  color: white;
  border-color: #ff6f00;
}

.cart-table span {
  min-width: 20px;
  font-size: 16px;
  font-weight: bold;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.qty-cell {
  text-align: center;
  white-space: nowrap;
}

.qty-cell button {
  width: 32px;
  height: 32px;
  font-size: 18px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}
.qty-value {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  text-align: center;
}
.pay-btn {
  margin-top: 30px;
  padding: 12px 24px;
  background:#ff5722;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
}
