.footer {
  background: #2b2b2b;
  color: #ccc;
  padding: 60px 80px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 60px;
}
.logo {
  color: #ff5722;
  font-size: 26px;
  margin-bottom: 10px;
}
.footer-about p {
  font-size: 14px;
  line-height: 1.6;
  max-width: 300px;
}
.icon {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}
.icon svg {
  background: #444;
  padding: 8px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.icon svg:hover {
  background: #ff5722;
  color: white;
}
.link h4,.contact h4 {
  color: white;
  margin-bottom: 12px;
}
.link p,.contact p {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}
.link p:hover {
  color: #ff5722;
}
.bottom {
  text-align: center;
  border-top: 1px solid #444;
  margin-top: 40px;
  padding-top: 15px;
  font-size: 13px;
  color: #999;
}
