.footer {
  background: #2b2b2b;
  color: #ccc;
  padding: 60px 80px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 60px;
}

/* LEFT */
.footer-logo {
  color: #ff5722;
  font-size: 26px;
  margin-bottom: 10px;
}

.footer-about p {
  font-size: 14px;
  line-height: 1.6;
  max-width: 300px;
}

.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.social-icons svg {
  background: #444;
  padding: 8px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons svg:hover {
  background: #ff5722;
  color: white;
}

/* LINKS */
.footer-links h4,
.footer-contact h4 {
  color: white;
  margin-bottom: 12px;
}

.footer-links p,
.footer-contact p {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-links p:hover {
  color: #ff5722;
}

/* BOTTOM */
.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  margin-top: 40px;
  padding-top: 15px;
  font-size: 13px;
  color: #999;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-about p {
    margin: auto;
  }

  .social-icons {
    justify-content: center;
  }
}
