.head{
  position: absolute;
  top: 0;
  width: 90%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  margin-right: 50px;
  color: rgb(114, 66, 66);
  text-decoration: none;
  font-weight: 600;
  /* background-color: black;
  border-radius: 15px; */
  /* box-shadow: 2px 3px 10px; */
}

.pic img {
  width: 100px;
  color: white;
}

.nav a:hover {
   color: rgb(255, 58, 14);

}