

@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.main{
  height:100vh;
  padding-top: 300px;
  background-image: url("https://images.pexels.com/photos/1099680/pexels-photo-1099680.jpeg?cs=srgb&dl=pexels-jane-doan-1099680.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  /* padding-left: 600px; */
  color:whitesmoke;
display: flex;
  align-items: center;
  justify-content:flex-end;
  padding:0 5%;
  cursor: pointer;
}
.sub{
  text-align: center;
}

.main h1{
  font-size: 80px;
  font-weight: bold;
}

.main h3{
  font-size: 32px;
  margin: 10px 0;
}

.main p{
  margin: 15px 0;
  line-height: 1.5;
  color:whitesmoke;
  width: 400px;
}

.main button {
  padding: 12px 30px;
  background: transparent;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  color:white;
  font-family: "Oswald", sans-serif;

}

.main button:hover {
  background-color: #ff0000;
}
.main h1,h3{
  font-family: "Lilita One", cursive;
}
.main p {
  font-family: "Roboto", sans-serif;
}
