
.about{
  padding: 80px 10%;
  background: #f8f9f7;
}
.container {
  display: flex;
  gap: 50px;
  align-items: center;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.images img {
  width: 260px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.con h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.con {
  color: #121111;
  margin-bottom: 15px;
}
.section {
  background: #f6c53a;
  padding: 60px 10%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.box {
  max-width: 300px;
}

.box i {
  font-size: 48px;
  margin-bottom: 15px;
}
.box h4 {
  font-size: 18px;
  margin-bottom: 8px;
}
