.check {
  width: 400px;
  margin: 80px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: Arial, Helvetica, sans-serif;;
}
.check h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}
.c-main{
  background: url(./bg4.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
}
.check input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: 0.3s ease;
}
.check input:focus {
  border-color: orangered;
  box-shadow: 0 0 5px rgba(94, 213, 185, 0.4);
}
.check h3 {
  margin-top: 10px;
  text-align: right;
  color: #222;
}
.check button {
  padding: 14px;
  border: none;
  border-radius: 8px;
  background:orangered;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.check button:hover {
  background:rgb(48, 132, 48);
  transform: translateY(-2px);
}
.check button:active {
  transform: scale(0.98);
}
 
