.category-container {
  display: flex;
  gap: 20px;
  padding: 20px 10px;
  overflow-x: auto;
  justify-content: center;
}

.category-container::-webkit-scrollbar {
  display: none;
}

.category-item {
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}
.category-item p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
}

.category-item.active .category-img {
  border: 3px solid #ff4c24;
}
.category-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 3px solid transparent;
  transition: 
    transform 0.25s ease,
    box-shadow 0.25s ease,
    border-color 0.25s ease;
}
.category-img img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.25s ease;
}

.category-item:hover .category-img img {
  transform: scale(1.1);
}
.category-item.active .category-img {
  border: 3px solid #24fbff;
  transform: scale(1.1);
  box-shadow: 0 14px 26px rgba(15, 18, 18, 0.4);
}
.category-item {
  position: relative;
}

.category-item:active .category-img {
  transform: scale(0.95);
}
