.category {
  display: flex;
  gap: 20px;
  padding: 20px 10px;
  overflow-x: auto;
  justify-content: center;
}
.item {
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}
.item p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
}
.item.active .image {
  border: 3px solid #ff4c24;
}
.image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  border: 3px solid transparent;
  transition:
    transform 0.1s ease,
    box-shadow 0.25s ease,
    border-color 1s ease;
}
.image img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.25s ease;
}

.item:hover .image img {
  transform: scale(1.1);
}
.item.active .image {
  border: 3px solid #24fbff;
  transform: scale(1.1);
  box-shadow: 0 14px 26px rgba(15, 18, 18, 0.4);
}
.item {
  position: relative;
}

.item:active .image {
  transform: scale(1.5);
}
