  .product{
    max-width: 1200px;
    margin: 0 auto; 
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 24px;
    justify-items: center; 
  }
  .title {
  max-width: 1200px;
  margin: 40px auto 20px;
  font-family: "Lavishly Yours", cursive;
  font-weight: 800;
  font-size: 32px;
  font-style: normal;
  color:orangered
  }
  
