.food-card {
  width: 220px;
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}


.food-card:hover {
  transform: translateY(-4px);
}

.food-img {
  position: relative;
  height: 180px;
}

.food-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-btn {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

.food-info {
  padding: 12px;
}

.food-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-title h4 {
  font-size: 15px;
  margin: 0;
}

.rating {
  color: #ff9f00;
  font-size: 13px;
}

.desc {
  font-size: 12px;
  color: #777;
  margin: 6px 0;
}

.price {
  font-weight: bold;
  color: #ff5722;
}
