.slider {
  width: 90%;
  max-width: 1200px;
  height: 520px;   
  margin: 120px auto;
  border-radius: 16px;
  overflow: hidden;
}
.slider img {
  width: 100%;
  height: 100%;
  background-size:cover;
  object-fit: fill;
  display: block;
}
