.slider {
  width: 90%;
  height: 50vh;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  margin: 90px auto;
  /* align-items: center; */
  /* align-content: center; */
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;        
  object-position: center; 
  display: block;
  animation: none;
 
}
.dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #fff;
}
