/* .category-row {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 15px;
}

.category {
  text-align: center;
  cursor: pointer;
}

.category img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.slider img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  margin: 20px 0;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

.food-card {
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ddd;
  text-align: center;
}

.food-card img {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
} */
